body {
  margin: 0;
}

.box-1 h1 {
  font-size: 10vw;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

.box-1,
.box-2 {
  justify-content: center;
  position: absolute;
  background-color: #FFA500;
}

.box-1 {
  overflow: hidden;
  min-height: 95vh;
}

.box-2 {
  display: none;
  padding-top: 20px;
  padding-bottom: 50px;
  min-height: 130vh;
}

hr.style {
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 70vw;
}

hr.style:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

#map {
  height: 45vh;
  width: 70vw;
  margin: auto;
}

#box-images {
  height: 100%;
  width: 80vw;
  margin: auto;
  margin-top: 40px;
}

img {
  width: 23vw;
  height: 20vh;
  cursor: pointer;
  padding: 5px;
}

img:hover {
  background-color: white;
}

.input-group {
  width: 60vw;
}
